<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
</head>
<body>
  <%- path %>
  <a href=<%- next %>>next</a>
  <script>
    window.__INITIAL_STATE__ = <%- initialState %>
    console.log(__INITIAL_STATE__)
  </script>
</body>
</html>
